
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  background-color: #35abff;
}
.bottom {
  position: absolute;
  bottom: 0;
	left: 0;
	width: 100%;
	height: 5%;
  background-image: url("./ressources/floor.png");
  background-size: 5%,5%;
}
#player {
  position: absolute;
  bottom: 5%;
	left: 1%;
	width: 15%;
	height: 15%;
  background-image: url("./ressources/player-still-right.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.background {
  background-image: url("./ressources/background.png");
  background-size: contain;
  position: absolute;
  top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
h1 {
  position: absolute;
  top: 15%;
	left: 40%;
	width: 20%;
	height: 15%;

}
